@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
:root{
    --bg-dark--: #000000;
    --green-logo--: #01ab3b;
    --green-logo--: #277000;
    --green-lima--: #abed3f;
    --green-tr4--:rgba(3, 178, 15, 0.5);
    --orange--:rgb(255, 97, 5);
}
                                    /* GENERAL ELEMENTS & CLASS */
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Moderustic", sans-serif;
    background: var(--bg-dark--);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;

    & i{
        font-size: 3rem;
    }
    & i:hover{ /*vLibras*/
        text-decoration: none!important;
    }
    & a{
        text-decoration: none;
        color: inherit;
    }
    & div{
        user-select: none;
    }
    & img{
        pointer-events: none;
        user-select: none;
    }

    & .container{
        display: flex;
    }
    & .btn{
        border: none;
        cursor: pointer;
        text-transform: capitalize;
        outline: none;
        border-radius: 15px;
        transition: transform .2s ease;
        user-select: none;
        outline: none;
    
    }
    & .btn:hover{
        transform: scale(1.05);
    }
    & .boundary{
        max-width: 2560px; /*diminuir*/
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}
                                    /* POP UP */
                                    /* GAME_CONTAINER & GAME_CONTROLS*/
#game_container.inactive{
    display: none;
}
#game_container.inactive ~ .gameControls{
    display: none;
}
#game_container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 10px solid var(--green-logo--);
    border-radius: 20px;
    background: var(--black--);
    margin: 0 2rem;

    .gameControls{
        position: absolute;
        right: -14vh;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 10vh;
    
        & .btn.controls{
            margin: 2rem;
            padding: 2vh;
            color: #fff;
            background-color: var(--green-lima--);

            & i{
                font-size: 2.1rem;
            }
        }

    }
}
                                    /* BACKGROUNDS */
.j4-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-sizing: content-box;
    overflow: hidden;

    & .j4-bg-bg{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-image: url('./../Assets/imgs/general/hm_background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    & .foreground{
        position: absolute;
        height: 100%;
        width: calc(100% + 20px);
        border-radius: 13px;
        transform: scale(1.01);
        object-fit: cover;
        object-position: bottom;
    }
    
    & .monkey{
        position: absolute;
        display: block;
        top: 0;
    }
        
    & .m_l{
        height: 40%;
        width: 40%;
        top: 7px;
        left: -39px;
        z-index: 6;

    }
    & .m_r{
        height: 30%;
        width: 30%;
        right: -56px;
        top: 23px;
        z-index: 6;

    }

    & #homeBtn{
        position: absolute;
        background: transparent;
        height: 16%;
        bottom: -2.5%;
        left: 1%;
        z-index: 10;

        & .homeGif{
            height: 100%;
        }
    }
}
                                    /* HOME */
.j4-hm #main{
    height: 100%;
    width: 100%;
    z-index: 10;

    justify-content: center;
    align-items: center;
    
    & .hm-container{
        border: 2px solid white;
        height: 70%;
        width: 30%;
        background-color: rgba(255, 255, 255, .4);
        border-radius: 10px;

        flex-direction: column;
        align-items: center;

        & .hm-c-title{
            background-color: rgb(12, 158, 21);
            height: 12%;
            width: 80%;
            text-align: center;
            color: white;
            border: 1px solid white;
            border-radius: 3px;
            margin: 10% 0;
            justify-content: center;
            align-items: center;

            & p{
                text-transform: uppercase;
                font-weight: bold;
                height: 39px;
                width: 238px;
                text-align: center;
                align-content: center;
                text-transform: capitalize;
            }
        }

        & table{
            height: 100%;
            width: 80%;
            border: 1px solid white;
            margin-bottom: 10%;
            background-color: rgba(0, 0, 0, .5);
            border-spacing: 0px;
            border-collapse: collapse; /* Garante que as bordas se unam */
            table-layout: fixed; 

            & thead{
                color: white;
                height: fit-content;

                & th{
                    border-bottom: 1px solid white;
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    background-color: #999999;
                }
            }

            & tbody{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 0 8%;
                overflow: hidden;

                & tr{
                    height: 20%;
                    min-height: 20%;
                    width: 100%;
                    border-bottom: 1px solid white;
                    text-align: center;
                }

                & td{
                    display: block;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: clamp(1.8rem, 2rem, 3rem);
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-shadow: 
                    -1px -1px 0 white,  
                     1px -1px 0 white,
                    -1px  1px 0 white,
                     1px  1px 0 white;
                    color: var(--green-logo--); /* Cor do texto */
                }


            }

            & tbody::-webkit-scrollbar {
                width: 8px;
                height: 8px;
              }
              
            & tbody::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #888;
              }
        }
    }

    
}
.j4-sgt{
    transition: all 1s ease;
    
    & .j4-bg{
        transition: all 1s ease;
        
        & .monkey{
            display: none;
        }
    }
    & .j4-bg-bg.blur{
        filter: blur(10px);
    }
    & .j4-bg-bg.blur ~ img{
        filter: drop-shadow(2px 4px 6px black)
    }

    & #main{
        height: 100%;
        width: 100%;

        & .cardImg{
            max-width: 90%;
            max-height: 90%;
            transform: translate(-50%, -50%);
            z-index: 20;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 15px;
            border: 1px solid white;
            pointer-events: all;
        }

        & .sgt-container{
            height: 100%;
            width: 100%;
            position: relative;
            justify-content: center;    
            align-items: center;
            flex-direction: column;
            z-index: 1;
    
            & .spot{
                position: absolute;
                width: 8vh;
                height: 8vh;
                max-height: 80px;
                max-width: 80px;
                background-color: #ffffff5e;
                border: 4px solid var(--green-lima--);
                border: 4px solid var(--orange--);
                border-radius: 50%;
                z-index: 2;
            }
            & .stg-card{
                flex-direction: column;
                position: relative;
                height: 82%;
                width: 32%;
                border: 1px solid white;
                border-radius: 15px;
                z-index: 5;
                background-color: #ffffff5c;
                filter: drop-shadow(2px 4px 6px black);
               
                & .card-close.btn{
                    height: 3rem;
                    width: 3rem;
                    position: absolute;
                    top: -2%;
                    right: -23%;
                    border: 1px solid;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #ec0404;
                    color: #fff;
                    z-index: 10;

                    & i{
                        font-size: 2.5rem;
                        line-height: 90%;
                    }
                }

                & .stg-card-title{
                    height: 40%;
                    width: 95%;
                    max-width: 95%;
                    border: 1px solid white;
                    border-radius: 15px;
                    margin: 2.5%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;


                    & .cardImage{
                        width: 100%;
                        min-height: 100%;
                        cursor: pointer;
                    }
                }

                & .stg-card-body{
                    height: 59%;
                    width: 95%;
                    max-width: 95%;
                    border: 1px solid white;
                    border-radius: 15px;
                    margin: 0 2.5% 2.5%;
                    padding: 2.5% 2.5%;
                    font-size: clamp(1.2rem, 1.4rem, 1.6rem);
                    text-align: center;
                    font-weight: 300;
                    color: white;
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    & .card-name-text{
                        height: 15%;
                        width: 100%;
                        text-align: center;
                        align-content: center;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: white;

                    }
                    & .card-descri-text{
                        height: 85%;
                        align-content: center;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: keep-all;
                        word-wrap: normal;

                    }

                    & .card-play.btn{
                        height: 3rem;
                        width: 3rem;
                        position: absolute;
                        top: -15%;
                        left: 9%;
                        border: 1px solid;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #ffffff63;
                        color: #000;
                        z-index: 10;
          

                        & i{
                            font-size: 2rem;
                            transform: translate(10%, 10%);
                        }
                    }
                }

                & .stg-card-footer{
                    position: relative;
                }

                & .static-cloud{
                    position: absolute;
                    top: 0;
                    height: 16%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                }
                & .sc1{
                    top: 18%;
                    left: -30%;
                }
                & .sc2{
                    top: -5%;
                    left: -8%;
                    transform: translate(-50%, -50%) scale(.5);
                }
                & .sc3{
                    top:18%;
                    left: 131%;
                    transform: translate(-50%, -50%) scale(1.3) rotateY(180deg);
                }
                & .sc4{
                    top: -6%;
                    left: 90%;
                    transform: translate(-50%, -50%) scale(.4) rotateY(180deg);
                }

                & .card-mountain{
                    position: absolute;
                    bottom: -17%;
                    height: 20%;
                    transform: translate(-50%, -50%);
                    z-index: 0;

                }

                & .cm1{
                    left:  -12%;
                }
                & .cm2{
                    right: -75%;
                    transform: translate(-50%, -50%) rotateY(180deg);
                }
            
            }

            & .stg-card.blur{
                filter: blur(10px);
            }
        }
    }

    & .blur{
        filter: blur(10px);
    }
    & .blur ~ img{
        filter: drop-shadow(2px 4px 6px black)
    }
}

@media (max-width: 3400px){
    html{
        font-size: 82.5%;
    }
}
@media (max-width: 1920px){
    html{
        font-size: 72.5%;
    }
}
@media (max-width: 1600px){
    html{
        font-size: 62.5%;
    }
}

