@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
:root{
    --bg-dark--: #000000;
    --green-logo--: #01ab3b;
    --green-logo--: #277000;
    --green-lima--: #abed3f;
    --green-tr4--:rgba(3, 178, 15, 0.5);
    --orange--:rgb(255, 97, 5);
}
                                    /* GENERAL ELEMENTS & CLASS */
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
    background: var(--bg-dark--);
    display: flex;
    justify-content: center;
    align-items: center;

    & i{
        font-size: 3rem;
    }
    & i:hover{ /*vLibras*/
        text-decoration: none!important;
    }
    & a{
        text-decoration: none;
        color: inherit;
    }
    & div{
        user-select: none;
    }
    & img{
        pointer-events: none;
        user-select: none;
    }

    & .container{
        display: flex;
    }
    & .btn{
        border: none;
        cursor: pointer;
        text-transform: capitalize;
        outline: none;
        border-radius: 15px;
        transition: transform .2s ease;
        user-select: none;
        outline: none;
        transition: all .2s ease;

    
    }
    & .btn:hover{
        transform: scale(1.05);
    }
    & .boundary{
        max-width: 2560px; /*diminuir*/
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    & .blur{
        filter: blur(10px);
    }

    & .blur ~ img{
        filter:drop-shadow(2px 4px 6px black);
    }
}
                                    /* POP UP */
                                    /* GAME_CONTAINER & GAME_CONTROLS*/
#game_container.inactive{
    display: none;
}
#game_container.inactive ~ .gameControls{
    display: none;
}
#game_container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 10px solid var(--green-logo--);
    border-radius: 20px;
    background: var(--black--);
    margin: 0 2rem;
    transition: all 1s ease;

    #main.blur{
        & .hm-container{
            display: none;
        }
    }

    #j4-bg.blur{
        & .bg-homeBtn{
            display: none;
        }
    }
    .gameControls{
        position: absolute;
        right: -14vh;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 10%;
    
        & .btn.controls{
            margin: 2rem;
            padding: 2vh;
            color: #fff;
            background-color: var(--green-lima--);
            width: 64%;
            height: 80%;

            & i{
                font-size: 2.1rem;
                transform: translate(-12.5%, -0.5%);
            }
        }
    }

    .info.active{
        position: absolute;
        display: block;
        width: 70%;
        height: 90%;
        background: rgb(223 223 223 / 55%);
        backdrop-filter: blur(200px);
        z-index: 10;
        border: 3px solid white;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        color: #161616;
        transform: translate(-50%, -50%);

        & .title{
            width: 100%;
            height: 18%;
            flex-direction: column;
            justify-content: center;
            margin-top: 1%;
            
            & .t-text{
                width: 90%;
                height: 50%;
                align-content: center;
                color: #fff;
                filter: drop-shadow(2px 4px 6px white);
                z-index: 2;
                margin: 0 auto;
                text-align: center;
            }
            
            & .sub-text{
                height: 50%;
                text-align: center;
                color: #f5f5f5;
                font-weight: 500;
                line-height: 1.5rem;
                font-size: 1.4rem;
            }
        }

        & .i-body.active{
            height: 75%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.5rem repeat(6, 1fr);
            gap: 1rem;
            padding:  0 1rem;
            line-height: 1.1rem;

            & .i-b0{
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                text-align: center;
                color: #f5f5f5;
                font-weight: 500;
                filter: drop-shadow(3px 6px 15px #fff);
                line-height: 1.5rem;
                font-size: 1.3rem;
            }

            & .board{
                grid-row: 2 / 8;

                & p {
                    padding: .5rem 0;
                    word-break: break-word;

                    & span{
                        color: white;
                        margin: 5px;
                        font-weight: 500;
                        filter: drop-shadow(2px 4px 6px white);
                    }
                }
                & .list {
                    padding: 0 .5rem;
                    color: #161616;

                    & listItems{
                        padding: .1rem .5rem;
                    }
                }

            & p{
                & .controls{
                    float: left;
                    padding: 1vh;
                    color: #fff;
                    background-color: var(--green-lima--);
                    width: 11%;
                    height: 80%;
                    filter: none;
                    vertical-align: baseline;
                    margin: 0 2% 0 0;
                    border: 1px solid white;
                    border-radius: 3px;
                    & i{
                        font-size: 1.5rem;
                        transform: translate(-12.5%, -0.5%);
                    }
                }
            }
            }
        }
        & .i-body{
            display: none;
        }

        & .cloud{
            position: absolute;
            height: 20%;
            top: -5%;
        }
        & .static-cloud{
            position: absolute;
            height: 20%;
            top: -5%;
            transform: translate(-50%, -50%);
        }
        & .sc1{
            top: 13%;
            left: -9%;
        }
        & .sc2{
            top: -1%;
            left: 7%;
            transform: translate(-50%, -50%) scale(.5);
        }
        & .sc3{
            top: 13%;
            left: 109%;
            transform: translate(-50%, -50%) rotateY(180deg);
        }
        & .sc4{
            top: -1%;
            left: 93%;
            transform: translate(-50%, -50%) scale(.5) rotateY(180deg);
        }

        & .closeBtn{
            height: 3rem;
            width: 3rem;
            position: absolute;
            top: -1%;
            right: -11%;
            border: 1px solid;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(.9);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ec0404;
            color: #fff;
            z-index: 10;
            filter: drop-shadow(0 0 3px);

            & i{
                font-size: 2.5rem;
                line-height: 90%;
            }
        }
        & .i-navBtn{
            position: absolute;
            top: 50%;
            padding: 0.3rem;
            border-radius: 50%;
            background: rgba(255, 255, 255, .4);
            color: white;
            border: 1px solid white;

            & i{
                font-size: 2rem;
            }
        }
        & .prevBtn{
            left: -10%;
           
        }
        & .nextBtn{
            right: -10%;

        }
    }

    .info{
        display: none;
    }
}

#toTextReader{
    position: absolute;
    opacity: 0;
    top: calc(50% - 15.45%);
    left: calc(50% + 22%);
    height: 5.5rem;
    width: 5.5rem;
    overflow: hidden;

    & p{
        height: 100%;
        width: 100%;
        font-size: 1%;
    }
}
                                    /* BACKGROUNDS */
.j4-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-sizing: content-box;
    overflow: hidden;
    transition: all .5s ease;


    & .j4-bg-bg{
        position: absolute;
        height: 101%;
        width: 101%;
        border-radius: 10px;
        background-image: url('./../Assets/imgs/general/hm_background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    & .foreground{
        position: absolute;
        height: 101%;
        width: calc(101% + 20px);
        border-radius: 13px;
        transform: scale(1.01);
        object-fit: cover;
        object-position: bottom;
    }
    
    & .monkey{
        position: absolute;
        display: block;
        top: 0;
    }
        
    & .m_l{
        height: 40%;
        width: 40%;
        top: 7px;
        left: -39px;
        z-index: 6;

    }
    & .m_r{
        height: 30%;
        width: 30%;
        right: -56px;
        top: 23px;
        z-index: 6;

    }

    & #homeBtn{
        position: absolute;
        background: transparent;
        height: 16%;
        bottom: 0%;
        left: 1%;
        z-index: 10;

        & .homeGif{
            height: 100%;
        }
    }
}
                                    /* HOME */
.j4-hm #main{
    height: 100%;
    width: 100%;
    z-index: 10;

    justify-content: center;
    align-items: center;
    
    & .hm-container{
        border: 2px solid #277000;
        height: 70%;
        width: 30%;
        background-color: rgba(255, 255, 255, .7);
        border-radius: 10px;

        flex-direction: column;
        align-items: center;

        & .hm-c-title{
            background-color: rgb(12, 158, 21);
            height: 17%;
            width: 80%;
            text-align: center;
            color: white;
            border: 2px solid white;
            border-radius: 8px;
            margin: 10% 0;
            justify-content: center;
            align-items: center;
            filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 4px 6px) drop-shadow(rgba(0, 0, 0, 0.5) -2px -4px 6px);


            & p{
                font-weight: bold;
                height: 39px;
                width: 90%;
                text-align: center;
                align-content: center;
                text-transform: capitalize;
                font-family: "Noto Sans", sans-serif;
            }
        }

        & .hm-board{
            height: 100%;
            width: 80%;
            border: 1px solid white;
            margin-bottom: 10%;
            background-color: rgb(248, 255, 240);
            filter: drop-shadow(rgba(0, 0, 0, 0.4) 2px 4px 10px) drop-shadow(rgba(0, 0, 0, 0.4) -2px -4px 10px);
            border-radius: 8px;

            & .hm-b-head{
                color: white;
                height: fit-content;

                & .hm-b-title{
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: rgb(33, 93, 2);
                    border-bottom: 1px solid white;
                    border-radius: 8px;
                }
            }

            & .hm-b-body{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 0 8%;
                overflow: hidden;
                margin: 5% 0;

                & .hm-b-r{
                    height: 20%;
                    min-height: 20%;
                    width: 100%;
                    text-align: center;
                    margin: 5% 0 0;

                }

                & .hm-b-d{
                    display: block;
                    position: relative;
                    font-size: clamp(1.6rem, 1.8rem, 2.8rem);
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #535353;
                    background: #abed3f;
                    margin: 0 auto;
                    height: 80%;
                    width: 100%;
                    padding: 0 10%;
                    border: 1px solid #535353;
                    font-family: "Arima", system-ui;
                }


            }

            & hm-b-body::-webkit-scrollbar {
                width: 8px;
                height: 8px;
              }
              
            & hm-b-body::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #888;
              }
        }
    }

    
}
.j4-sgt{
    transition: all 1s ease;
    
    & .j4-bg{
        transition: all 1s ease;
        
        & .monkey{
            display: none;
        }
    }
    & .j4-bg-bg.blur{
        filter: blur(10px);
    }
    & .j4-bg-bg.blur ~ img{
        filter: drop-shadow(2px 4px 6px black)
    }

    & #main{
        height: 100%;
        width: 100%;

        & .cardImg{
            max-width: 90%;
            max-height: 90%;
            transform: translate(-50%, -50%);
            z-index: 20;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 15px;
            border: 1px solid white;
            pointer-events: all;
        }

        & .sgt-container{
            height: 100%;
            width: 100%;
            position: relative;
            justify-content: center;    
            align-items: center;
            flex-direction: column;
            z-index: 1;
    
            & .spot{
                position: absolute;
                width: 8vh;
                height: 8vh;
                max-height: 80px;
                max-width: 80px;
                background-color: #ffffff5e;
                border: 4px solid var(--green-lima--);
                border: 4px solid var(--orange--);
                border-radius: 50%;
                z-index: 2;
            }
            & .stg-card{
                flex-direction: column;
                position: relative;
                height: 82%;
                width: 32%;
                border: 1px solid white;
                border-radius: 15px;
                z-index: 5;
                background-color: #ffffff5c;
                filter: drop-shadow(2px 4px 6px black);
               
                & .card-close.btn{
                    height: 3rem;
                    width: 3rem;
                    position: absolute;
                    top: -2%;
                    right: -23%;
                    border: 1px solid;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #ec0404;
                    color: #fff;
                    z-index: 10;

                    & i{
                        font-size: 2.5rem;
                        line-height: 90%;
                    }
                }

                & .stg-card-title{
                    height: 40%;
                    width: 95%;
                    max-width: 95%;
                    border: 1px solid white;
                    border-radius: 15px;
                    margin: 2.5%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;


                    & .cardImage{
                        width: 100%;
                        min-height: 100%;
                        cursor: pointer;
                    }
                }

                & .stg-card-body{
                    height: 59%;
                    width: 95%;
                    max-width: 95%;
                    border: 1px solid white;
                    border-radius: 15px;
                    margin: 0 2.5% 2.5%;
                    padding: 2.5% 2.5%;
                    font-size: clamp(1.2rem, 1.4rem, 1.6rem);
                    text-align: center;
                    font-weight: 300;
                    color: white;
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    & .card-name-text{
                        height: 15%;
                        width: 100%;
                        text-align: center;
                        align-content: center;
                        font-weight: 500;
                        color: white;

                    }
                    & .card-descri-text{
                        height: 85%;
                        align-content: center;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: keep-all;
                        word-wrap: normal;

                    }

                    & .card-play.btn{
                        height: 3rem;
                        width: 3rem;
                        position: absolute;
                        top: -15%;
                        left: 9%;
                        border: 1px solid;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #ffffff63;
                        color: #000;
                        z-index: 10;
          

                        & i{
                            font-size: 2rem;
                            transform: translate(10%, 10%);
                        }
                    }
                }

                & .stg-card-footer{
                    position: relative;
                }

                & .static-cloud{
                    position: absolute;
                    top: 0;
                    height: 16%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                }
                & .sc1{
                    top: 18%;
                    left: -30%;
                }
                & .sc2{
                    top: -5%;
                    left: -8%;
                    transform: translate(-50%, -50%) scale(.5);
                }
                & .sc3{
                    top:18%;
                    left: 131%;
                    transform: translate(-50%, -50%) scale(1.3) rotateY(180deg);
                }
                & .sc4{
                    top: -6%;
                    left: 90%;
                    transform: translate(-50%, -50%) scale(.4) rotateY(180deg);
                }

                & .card-mountain{
                    position: absolute;
                    bottom: -17%;
                    height: 20%;
                    transform: translate(-50%, -50%);
                    z-index: 0;

                }

                & .cm1{
                    left:  -12%;
                }
                & .cm2{
                    right: -75%;
                    transform: translate(-50%, -50%) rotateY(180deg);
                }
            
            }

            & .stg-card.blur{
                filter: blur(10px);
            }
        }
    }

    & .blur{
        filter: blur(10px);
    }
    & .blur ~ img{
        filter: drop-shadow(2px 4px 6px black)
    }
}

@media (max-width: 3400px){
    html{
        font-size: 82.5%;
    }
}
@media (max-width: 1920px){
    html{
        font-size: 72.5%;
    }
}
@media (max-width: 1600px){
    html{
        font-size: 62.5%;
    }
}

